* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

.header {
  width: 100%;
  .top_header {
    max-width: 100%;
    display: flex;
    padding: 10px;
    background-color: #f6f7f8;
    /* TOP HEADER */
    .icon {
      margin-left: 20px;
      color: #ababab;
      font-size: 10px;
    }
    .info {
      p {
        margin-left: 10px;
        color: #8a8a8a;
      }
    }
  }
  /* MID HEADER */
  .mid_header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    max-width: 100%;
    .logo {
      img {
        cursor: pointer;
        object-fit: cover;
      }
    }
    .search_box {
      input {
        padding: 10px;
        outline: none;
        background: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 250px;
        border: none;
        background: #f6f7f8;
      }
      button {
        padding: 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid #cd1e76;
        outline: none;
        width: 50px;
        background: #cd1e76;
        color: #fff;
        cursor: pointer;
        margin-right: 30px;
        transition: 0.5s all ease-in-out;
        font-weight: 600;
        &hover {
          background: #fed700;
          color: #cd1e76;
        }
      }
    }
    .user {
      display: flex;
      margin-right: 30px;
      .icon {
        margin-right: 10px;
        button {
          border: none;
          outline: none;
          font-size: 16px;
          background: none;
          cursor: pointer;
        }
      }
    }
  }
  /* LAST HEADER */
  .last_header {
    width: 100%;
    padding: 10px;
    display: flex;
    background: #232323;
    justify-content: space-between;
    .user_profile {
      display: flex;
      margin-top: 10px;
      .icon {
        padding: 10px;
        background: #fff;
      }
      .info {
        margin-left: 10px;
        h2 {
          color: #fff;
          font-size: 18px;
        }
        p {
          color: #ababab;
          font-size: 14px;
        }
      }
    }
  }
}
